
@media screen and (max-width:1920px) {
body {
    background: #000000d2;
    min-height: 300vh;
    max-width: 1545px;
    }
    .About-background{
        background-color: black;
        display: flex;
        width: 100%;
        padding-left: 30%;
    }
    .aboutbox{
        padding:0;
    }
    .wrapperwrapper{
        top: 500vh;
        height: 40vh; 
    }
    .goback{
        margin: 20% 5% 10% 80%;
    }

}