
@media screen and (max-width:1920px) {
body {
    margin: 0 auto;
    min-height: 500vh;
    max-width: 1545px;
}
/* slide picture */
    .tab-in{
    top: 35%;
    width: 100%;
    max-width: 1545px;
    }
    .btn label:not(:last-child){
    margin-right: 30px;
    }
/* end slide picture */
/* wrapper*/
    .wrapper2 {
    top: 13%;
    }
    .wrapper {
        top: 465vh;
    }
/* endwrapper*/
/* about concept character section*/
   .AAbout-section1{
        z-index: 1;
        top: 0;
        margin-top: 130vh;
    }
    .Aboutch-section div{
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .contextch{
     padding-right: 5%;
    }
/* end concept character section*/
/* about mesh & topology section */
    .about-ch-section{
    margin-top: 60vh;
    position: relative;
    height: 100vh; width: 100%;
    }
    .about-ch-section2{
        top: 335vh;
        height: 100vh;
    }
    .meshtopology-img2{
        height: 100%; width: 50%;     
    }
    .mesh2{
        padding: 18% 15% 0% 15%;
        color: rgb(160, 160, 160); 
        word-spacing: -0.3em;
        letter-spacing: 0.07em;
    }
    .section2bg{
        top: 190vh;
        height: 305vh;
    }
    .goback-box{
         top: 440vh; padding-left: 90%;
        }
    }